.catalog-product {
  width: 320px;
  margin: 0 auto;
  transition: all 0.3s ease-out;
}

.catalog-product__main-header {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 27px;
  padding-left: 20px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  border-bottom: 1px solid $gray-line;
  color: $black-text;
  margin: 0;
}

.catalog-product__item {
  min-height: 210px;
  border: 1px solid #ededed;
  margin-top: -1px;
}

.catalog-product__hero {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-product__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.catalog-product__link {
  min-height: 145px;
  min-width: 140px;
  text-decoration: none;
  margin-bottom: -8px;
}

.catalog-product__name {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  padding-top: 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-text;
  width: 75px;
}

.catalog-product__name-wrapper {
  width: 135px;
}

.catalog-product__row {
  display: flex;
  justify-content: space-between;
  min-width: 138px;
  margin: 0;
  padding: 0;
}

.catalog-product__column {
  margin: 0;
  font-family: "arial", "helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $text-color;
}

.catalog-product__button {
  margin-bottom: 22px;
}


.catalog-product__show-all {
  position: relative;
  margin-top: -1px;
  padding-top: 83px;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    background: url("../img/icon-plus-mobile.svg") no-repeat;
    opacity: 0.2;
  }
}

.catalog-product__subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.catalog-product__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: "arial", "helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $text-color;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog-product {
    @include tablet;
    margin-bottom: 20px;
  }

  .catalog-product__main-header {
    padding-left: 0;
    padding-top: 55px;
    padding-bottom: 80px;
    font-size: 60px;
    border: none;
  }

  .catalog-product__hero {
    width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: linear-gradient(#ffffff 90px, #f2f2f2 90px);
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .catalog-product__img--small {
    margin-top: 40px;
    margin-bottom: -41px;
  }

  .catalog-product__list {
    width: 708px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
  }

  .catalog-product__item {
    width: 324px;
    border: none;
    margin-bottom: 55px;
    padding-bottom: 0;
    min-height: 516px;
    display: flex;
  }

  .catalog-product__name-wrapper {
    padding: 0;
    width: 249px;

    &--big {
      margin-top: -38px;
    }
  }

  .catalog-product__link {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    min-height: 0;
    padding-bottom: 20px;
  }

  .catalog-product__name {
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    min-height: 0;
    width: 140px;
  }

  .catalog-product__row {
    border-bottom: 1px solid $gray-line;
  }

  .catalog-product__column {
    font-size: 16px;
    line-height: 16px;
    padding: 7px 0 6px 0;
  }

  .catalog-product__show-all {
    margin-top: 89px;
    padding-top: 165px;
    padding-bottom: 0;
    border: 1px solid $gray-line;
    width: 324px;
  }

  .catalog-product__show-all::before {
    top: 53px;
    width: 60px;
    height: 60px;
    margin-left: -30px;
  }

  .catalog-product__subtitle {
    font-size: 20px;
    width: 150px;
    margin: 0 auto;
    line-height: 20px;
    padding-bottom: 25px;
  }

  .catalog-product__text {
    font-size: 16px;
    width: 170px;
    margin: 0 auto;
    padding-bottom: 105px;
  }

  .catalog-product__button {
    margin: 20px;
    margin-top: 0;
  }

  .catalog-product__name-wrapper--big-fish {
    margin-top: -32px;
  }
}

@media (min-width: 1300px) {
  .catalog-product {
    @include desktop;
    margin-bottom: 15px;
  }

  .catalog-product__main-header {
    padding-top: 70px;
  }

  .catalog-product__hero {
    width: 245px;
    padding-bottom: 40px;
  }

  .catalog-product__item {
    width: 245px;
    margin-bottom: 60px;
    padding-bottom: 0;
  }

  .catalog-product__list {
    width: 1220px;
  }

  .catalog-product__link {
    padding-bottom: 15px;
  }

  .catalog-product__name-wrapper {
    width: 169px;
  }

  .catalog-product__subtitle {
    line-height: 20px;
    padding-bottom: 25px;
  }

  .catalog-product__show-all {
    padding-top: 160px;
  }

  .catalog-product__name-wrapper--big {
    margin-top: -30px;
  }

  .catalog-product__name-wrapper--big-fish {
    margin-top: -30px;
  }
}
