.example__wrapper {
  @include mobile;
  margin: 0 auto;
  padding-bottom: 28px;
}

.example {
  margin-left: auto;
  margin-right: auto;
  background-color: $text-gray;
}

.example__header {
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 23px;
  font-weight: 400;
  color: $black-text;
}

.example__description {
  font-size: 14px;
  line-height: 18px;
  font-family: $text-font;
  margin: 0;
  padding-bottom: 25px;
}

.example__feature-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 19px;

  &--description {
    display: flex;
    width: 340px;
    justify-content: space-between;
  }
}

.example__feature-box {
  width: 125px;
  min-height: 55px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
}

.example__result {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
  color: $black-text;
  margin-top: -10px;
  z-index: 10;
  padding: 10px 0;
}

.example__value {
  font-family: $text-font;
  font-size: 12px;
  line-height: 12px;
  display: block;
  background-color: $text-gray;
  width: 75px;
  height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: absolute;
  top: calc(100% - 8px);
  transform: translate(-50%);
  left: 50%;
}

.example__expenses {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-left: 45px;
  padding-top: 15px;
  padding-bottom: 10px;
}


.example__comaprison-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 300px;
  margin-right: 45px;
  margin-top: 4px;

  &--fig {
    width: 100%;
    height: 245px;
  }
}

.example__fat {
  @include reset;
  background-image: url("../img/after-mobile@1x.png");
  background-size: cover;
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background: url("../img/after-mobile@2x.png") no-repeat;
    background-size: cover;
    background-color: $text-gray;
  }
}

.example__fat > img {
  position: relative;
  width: 100%;
}

.example__slim {
  background-image: url("../img/before-mobile@1x.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  height: 100%;
  background-color: $text-gray;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background: url("../img/before-mobile@2x.png") no-repeat;
    background-size: cover;
    background-color: $text-gray;
  }
}

input[class="example__input"] {
  @include reset;
  appearance: none;
  position: relative;
  width: 84px;
}

input[class="example__input"]::-webkit-slider-runnable-track {
  appearance: none;
  width: 84px;
  height: 14px;
  border: 1px solid $gray-line;
  border-radius: 5px;
  background-color: #ffffff;
}

input[class="example__input"]::-webkit-slider-thumb {
  appearance: none;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background: $text-green;
  padding: 0;
  margin: 0;
  position: relative;
  top: 3px;
  border: none;
  outline: none;
}

input[class="example__input"]:focus {
  outline: none;
}

input[class="example__input"]:active {
  outline: none;
}

input[class="example__input"]::-moz-range-track {
  appearance: none;
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid $gray-line;
  border-radius: 5px;
  background-color: #ffffff;
}

input[class="example__input"]::-moz-range-thumb {
  appearance: none;
  width: 35px;
  height: 6px;
  background: $text-green;
  border-radius: 3px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

input[class="example__input"]:focus::-moz-range-thumb {
  background: $text-green;
}

input[class="example__input"]::-ms-track {
  width: 85px;
  height: 14px;
  background: transparent;
  border-color: transparent;
  color: transparent;
  border: 1px solid $gray-line;
  border-radius: 3px;
  padding: 0;
  margin: 0;
}

input[class="example__input"]::-ms-fill-lower {
  background: #ffffff;
  border-radius: 3px;
}

input[class="example__input"]::-ms-fill-upper {
  background: #ffffff;
  border-radius: 3px;
}

input[class="example__input"]::-ms-thumb {
  appearance: none;
  width: 35px;
  height: 6px;
  background: $text-green;
  border-radius: 3px;
}

input[class="example__input"]::-ms-tooltip {
  display: none;
}


.example__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding-top: 30px;
}

.example__before,
.example__after {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.example__before-after-toggle {
  width: 84px;
  height: 14px;
  border: 1px solid $gray-line;
  border-radius: 5px;
  background-color: #ffffff;
  position: relative;
}

.example__before-after-toggle::after {
  background-color: $text-green;
  border-radius: 10px;
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  top: 3px;
  left: 5px;
}


.example__toggle-after,
.example__toggle-before {
  @include reset;
  text-decoration: none;
  border: none;
  background: 0 0;
  outline: 0;
}

.example__toggle-after {
  margin-bottom: -5px;
  margin-right: -2px;
}

.example__toggle-before {
  margin-bottom: -4px;
  margin-left: 3px;
}

.example__slim--hide {
  width: 0%;
}

.example__input {
  transform: rotateY(180deg);
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    @include tablet;
    margin: 0 auto;
    padding-bottom: 55px;
  }

  .example {
    background: linear-gradient(to bottom, #ffffff 627px, transparent 627px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    padding: 0;
    border-top: 1px solid $text-gray;
    padding-top: 45px;
  }

  .example__header {
    font-size: 60px;
    padding-top: 0;
    padding-bottom: 66px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 50px;
  }

  .example__feature-wrapper {
    justify-content: space-between;
    margin-bottom: 12.5px;
  }

  .example__feature-box {
    width: 162px;
    min-height: 73px;
  }

  .example__feature-box::before {
    width: 162px;
    height: 72px;
  }

  .example__result {
    font-size: 30px;
    line-height: 37px;
  }

  .example__value {
    font-size: 14px;
    line-height: 14px;
    width: 140px;
    height: 27px;
    background-color: #ffffff;
  }

  .example__value br {
    display: none;
  }

  .example__expenses {
    font-size: 20px;
    padding: 0;
    color: $black-text;
    width: 195px;
    text-align: right;
    align-self: flex-start;
    line-height: 28px;
    margin-top: 10px;
  }

  .example__feature {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .example__feature-wrapper--description {
    display: flex;
    width: 365px;
  }

  .example__comaprison-wrapper {
    padding-top: 65px;
    z-index: 2;
    width: 708px;
    height: 630px;
    margin-right: 39px;
    margin-top: -2px;

    &--fig {
      width: 100%;
      height: auto;
      padding-top: 0;
      z-index: 2;
      display: block;
      margin-left: 70px;
    }
  }

  .example__toggle {
    width: 566px;
    padding-top: 12px;
  }

  .example__fat {
    @include reset;
    background-image: url("../img/after-tablet@1x.png");
    width: 690px;
    height: 517px;
    background-color: transparent;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background: url("../img/after-tablet@2x.png") no-repeat;
      background-size: cover;
      width: 690px;
      height: 517px;
    }
  }

  .example__slim {
    bottom: 0;
    width: 49.1%;
    background-size: 690px 517px;
    background-image: url("../img/before-tablet@1x.png"), linear-gradient(to bottom, #ffffff 175px, transparent 175px), linear-gradient(to right, #f2f2f2 48.8%, #eaeaea 45%);

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/before-tablet@2x.png"), linear-gradient(to bottom, #ffffff 175px, transparent 175px), linear-gradient(to right, #f2f2f2 47%, #eaeaea 48%);
      background-size: 690px 517px;
    }
  }

  input[class="example__input"] {
    width: 428px;
    height: 46px;
    background-color: transparent;
  }

  input[class="example__input"]::-webkit-slider-runnable-track {
    height: 6px;
    border: none;
    border-radius: 3px;
    background-color: #dcdcdc;
    margin: 0;
    padding: 0;
    max-width: 428px;
    width: 428px;
  }

  input[class="example__input"]::-webkit-slider-thumb {
    top: -15px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid rgb(205, 205, 205);
    background-color: rgb(104, 183, 56);
    box-shadow:
      inset 0 0 0 12px rgb(255, 255, 255),
      0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  input[class="example__input"]:hover::-webkit-slider-thumb {
    box-shadow:
      inset 0 0 0 12px rgb(255, 255, 255),
      0 3px 5px rgba(0, 0, 0, 0.25);
  }

  input[class="example__input"]:focus::-webkit-slider-thumb {
    box-shadow:
      inset 0 0 0 12px rgb(255, 255, 255),
      0 3px 5px rgba(0, 0, 0, 0.25);
  }

  input[class="example__input"]:active::-webkit-slider-thumb {
    border-color: rgb(104, 183, 56);
    box-shadow:
      inset 0 0 0 1px rgb(104, 183, 56),
      inset 0 0 0 12px rgb(255, 255, 255),
      0 4px 5px rgba(0, 0, 0, 0.25);
  }

  input[class="example__input"]::-moz-range-track {
    width: 428px;
    height: 6px;
    border: none;
    border-radius: 3px;
    background-color: #dcdcdc;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  input[class="example__input"]::-moz-range-thumb {
    top: -15px;
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid rgb(205, 205, 205);
    background-color: rgb(104, 183, 56);
    box-shadow:
      inset 0 0 0 12px rgb(255, 255, 255),
      0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  input[class="example__input"]:hover::-moz-range-thumb {
    box-shadow:
      inset 0 0 0 12px rgb(255, 255, 255),
      0 3px 5px rgba(0, 0, 0, 0.25);
  }

  input[class="example__input"]:focus::-moz-range-thumb {
    box-shadow:
      inset 0 0 0 12px rgb(255, 255, 255),
      0 3px 5px rgba(0, 0, 0, 0.25);
  }

  input[class="example__input"]:active::-moz-range-thumb {
    border-color: rgb(104, 183, 56);
    box-shadow:
      inset 0 0 0 1px rgb(104, 183, 56),
      inset 0 0 0 12px rgb(255, 255, 255),
      0 4px 5px rgba(0, 0, 0, 0.25);
  }

  input[class="example__input"]::-ms-track {
    width: 428px;
    height: 6px;
    background: transparent;
    background-color: #dcdcdc;
    color: transparent;
    border: none;
    border-radius: 3px;
    padding: 0;
    margin: 0;
  }

  input[class="example__input"]::-ms-fill-lower {
    background-color: #dcdcdc;
    border-radius: 3px;
  }

  input[class="example__input"]::-ms-fill-upper {
    background-color: #dcdcdc;
    border-radius: 3px;
  }

  input[class="example__input"]::-ms-thumb {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid rgb(205, 205, 205);
    background-color: rgb(104, 183, 56);
    box-shadow:
      inset 0 0 0 12px rgb(255, 255, 255),
      0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    bottom: -10px;
  }

  input[class="example__input"]:active::-ms-thumb {
    border-color: rgb(104, 183, 56);
    box-shadow:
      inset 0 0 0 1px rgb(104, 183, 56),
      inset 0 0 0 12px rgb(255, 255, 255),
      0 4px 5px rgba(0, 0, 0, 0.25);
  }

  input[class="example__input"]:hover:-ms-thumb {
    box-shadow:
      inset 0 0 0 12px rgb(255, 255, 255),
      0 3px 5px rgba(0, 0, 0, 0.25);
  }

  .example__before,
  .example__after,
  .example__img,
  .example__before-after-toggle {
    z-index: 2;
  }

  .example__before,
  .example__after {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgb(190, 190, 190);
  }

  .example__before:hover,
  .example__before:focus {
    border-bottom: 1px solid rgb(152, 152, 152);
  }

  .example__before:active {
    border-bottom: 1px solid transparent;
  }

  .example__after:hover,
  .example__after:focus {
    border-bottom: 1px solid rgb(152, 152, 152);
  }

  .example__after:active {
    border-bottom: 1px solid transparent;
  }

  .example__toggle-after,
  .example__toggle-before {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}


@media (min-width: 1300px) {
  .example__wrapper {
    @include desktop;
    padding-bottom: 0;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .example {
    background: linear-gradient(to bottom, #ffffff 190px, transparent 190px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
    border: none;
    padding-top: 0;
  }

  .example__header {
    padding-top: 50px;
    padding-bottom: 146px;
    z-index: 2;
  }

  .example__description {
    width: 435px;
    margin-bottom: 68px;
    z-index: 2;
    padding-bottom: 0;
  }

  .example__expenses {
    width: 325px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    z-index: 2;
  }

  .example__feature {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    z-index: 2;
  }

  .example__feature-wrapper {
    flex-direction: column;
    z-index: 2;
    padding-bottom: 0;
    margin-bottom: 0;


    &--description {
      width: 365px;
      flex-direction: row;
    }
  }

  .example__value {
    background-color: $text-gray;
  }

  .example__comaprison-wrapper {
    justify-content: flex-start;
    padding: 0;
    width: 650px;
    height: auto;
    align-items: flex-end;
    background: linear-gradient(to bottom, #ffffff 37.5%, transparent 37.5%), linear-gradient(to right, #f2f2f2 56%, #eaeaea 56%);
    min-height: 648px;
    margin-right: 0;

    &--fig {
      display: block;
      min-height: auto;
    }
  }

  .example__toggle {
    width: 580px;
    padding-top: 0;
    margin-top: 28px;
    margin-right: -10px;
  }

  .example__toggle-after {
    margin-right: 10px;
  }

  .example__fat {
    @include reset;
    background-image: url("../img/after-desktop@1x.png");
    width: 689px;
    height: 517px;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/after-desktop@2x.png");
      background-size: 690px 517px;
    }
  }

  .example__result {
    margin-top: -5px;
  }

  /* 20 минут смотрел-смотрел в пиксель перфект, но точнее сделать ну ни как не получается. Корректировал уже до сотых процента :) */
  .example__slim {
    width: 52.99%;
    height: 517px;
    background-image: url("../img/before-desktop@1x.png"), linear-gradient(to bottom, #ffffff 194px, transparent 194px), linear-gradient(to right, #f2f2f2 52.6%, #eaeaea 53%);

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/before-desktop@2x.png"), linear-gradient(to bottom, #ffffff 194px, transparent 194px), linear-gradient(to right, #f2f2f2 52.6%, #eaeaea 53%);
      background-size: 690px 517px;
    }
  }
}
