.additional-products {
  @include mobile;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  transition: all 0.3s ease-out;
  margin-bottom: -10px;
}

.additional-products__list {
  @include reset;
}

.additional-products__item {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 130px;
}

.additional-products__product {
  @include reset;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.additional-products__row {
  @include reset;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.additional-products__size,
.additional-products__value {
  @include reset;
  font-size: 14px;
  line-height: 14px;
  font-family: $text-font;
}

.additional-products__value {
  text-transform: uppercase;
}

.additional-products__header {
  @include reset;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: $black-text;
  padding-bottom: 35px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: calc(100% + -25px);
    width: 100vw;
    height: 3px;
    background-color: #68b738;
  }
}

.additional-products__gift {
  position: relative;
  display: flex;
  width: 280px;
  min-height: 289px;
  background-color: $text-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  margin-bottom: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -27px;
    display: block;
    width: 55px;
    height: 60px;
    background: url("../img/icon-gift.svg") no-repeat;
  }
}

.additional-products__cta {
  @include reset;
  font-family: $text-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 186px;
  padding-left: 55px;
  padding-right: 55px;
}

@media (min-width: $tablet-width) {
  .additional-products {
    @include tablet;
    margin-top: -5px;
  }

  .additional-products__item {
    display: flex;
    flex-wrap: wrap;
    padding: (27px 40px);
    border: 1px solid #cdcdcd;
    margin: -1px;
    height: 140px;
  }

  .additional-products__product {
    font-size: 20px;
    line-height: 20px;
    width: 314px;
    margin-bottom: 30px;
  }

  .additional-products__row {
    @include reset;
    display: flex;
    justify-content: flex-end;
    width: 314px;
  }

  .additional-products__size,
  .additional-products__value {
    @include reset;
    font-size: 16px;
    line-height: 16px;
  }

  .additional-products__value {
    padding-left: 55px;
  }

  .additional-products__button {
    width: 633px;
  }

  .additional-products__header {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 80px;
    padding-left: 35px;

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      left: calc(100% + -290px);
      width: 100vw;
      height: 3px;
      background-color: #68b738;
    }

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      right: 100%;
      width: 100vw;
      height: 3px;
      background-color: #68b738;
    }
  }

  .additional-products__gift {
    position: relative;
    display: flex;
    width: 708px;
    min-height: 200px;
    background-color: $text-green;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    margin-bottom: 70px;

    &::before {
      left: 90px;
      top: 50%;
      margin-top: -35px;
      margin-left: 0;
    }
  }

  .additional-products__cta {
    @include reset;
    font-family: $text-font;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding-bottom: 74px;
    padding-top: 74px;
    padding-right: 101px;
    padding-left: 422px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    @include desktop;
    margin-top: 15px;
  }

  .additional-products__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  .additional-products__item {
    width: 895px;
    display: flex;
    flex-wrap: nowrap;
    padding: (15px 0);
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    justify-content: space-between;
    align-items: center;
    border-left: none;
    border-right: none;
    height: 73px;
  }

  .additional-products__product {
    margin-bottom: 0;
    width: 288px;
  }

  .additional-products__row {
    justify-content: space-between;
    width: 285px;
  }

  .additional-products__size,
  .additional-products__value {
    @include reset;
    font-size: 16px;
    line-height: 16px;
  }

  .additional-products__value {
    padding-left: 0;
  }

  .additional-products__button {
    width: 245px;
    margin: 0;
  }

  .additional-products__header {
    padding-bottom: 75px;
    padding-left: 0;

    &::after {
      left: calc(100% + 40px);
    }

    &::before {
      right: calc(100% + 40px);
    }
  }

  .additional-products__gift {
    width: 245px;
    min-height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;

    &::before {
      top: 64px;
      left: 40%;
      margin-top: 6px;
    }
  }

  .additional-products__cta {
    @include reset;
    font-family: $text-font;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 190px;
    padding-bottom: 0;
    text-align: center;
  }
}
