.programs {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  list-style: none outside;
}

.programs--slim::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 49px;
  top: 22px;
  left: 30px;
  background: url("../../../img/icon-cat-slim.svg") center no-repeat;
}

.programs--pro::after {
  position: absolute;
  content: "";
  width: 67px;
  height: 28px;
  top: 35px;
  left: 13px;
  background: url("../../../img/icon-cat-pro.svg") center no-repeat;
}

.programs__header {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1;
  margin: 0 0 24px 71px;
  padding: 0;
  font-weight: 300;
}

.programs__type {
  padding: 30px 20px 24px 20px;
  background-color: $text-gray;
  margin-bottom: 20px;
}

.programs__description {
  @include reset();
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.3;
  font-family: "arial", "helvetica", sans-serif;
  color: $text-color;
}

.programs__link {
  display: inline-block;
  color: $text-color;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 20px;
  border-top: 1px solid $gray-line;

  &:active {
    color: $text-green--hover;
  }
}

.programs::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25px;
  left: 22px;
  border-radius: 50%;
  background-color: $text-green;
}
