
.button {
  display: block;
  width: 280px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: $text-green;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $text-green--hover;
  }

  &:active {
    color: rgba(205, 205, 205, 0.3);
  }
}

.button--grey {
  background-color: $text-gray;
  color: $text-color;
  margin-top: -17px;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 249px;
    padding: 10px;
    vertical-align: middle;
  }
}


@media (min-width: $desktop-width) {
  .button {
    width: 169px;
  }
}
