.catalog-main {
  overflow-x: hidden;
}

.catalog-main__header {
  padding: 0;
  padding-top: 35px;
  padding-bottom: 45px;
  padding-left: 20px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  border-bottom: 1px solid $gray-line;
  color: $black-text;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog-main__header {
    padding-left: 0;
    padding-top: 60px;
    padding-bottom: 80px;
    font-size: 60px;
    border: none;
  }
}

@media (min-width: 1100px) {
  .catalog-main__header {
    padding-top: 85px;
  }
}
