.catalog-product {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1px;
  border: 1px solid #ededed;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__link {
    min-height: 145px;
    min-width: 140px;
  }

  &__name {
    margin: 0;
    padding: 0;
    margin-bottom: 13px;
    padding-top: 22px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: $black-text;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    min-width: 138px;
    margin: 0;
    padding: 0;
  }

  &__column {
    margin: 0;
    font-family: "arial", "helvetica", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: $text-color;
  }

  &__button {
    margin-bottom: 22px;
  }
}

.catalog-product__show-all {
  position: relative;
  margin-top: -1px;
  padding-top: 78px;
  border: 1px solid #ededed;
  padding-bottom: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    background: url("../img/icon-plus-mobile.svg") no-repeat;
    opacity: 0.2;
  }
}

.catalog-product__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.catalog-product__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "arial", "helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $text-color;
  text-align: center;
}
