.form__body {
  overflow-x: hidden;
  background-color: #ffffff;
}

.form,
.form__main {
  margin: 0 auto;
  transition: all 0.3s ease-out;
}

.form__main {
  @include mobile;
}

.form {
  overflow: hidden;
}

.form__header {
  @include reset;
  font-size: 36px;
  line-height: 60px;
  padding-top: 15px;
  padding-bottom: 25px;
  color: $black-text;
  font-weight: 400;
}

.form__description {
  @include reset;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 40px;
  text-transform: uppercase;
  text-align: left;
}

.form__form {
  @include reset;
  text-decoration: none;
}

.form__fieldset {
  @include reset;
  border: none;
  list-style: none;
}

.form__list {
  @include reset;
  position: relative;
}

.form__item {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 12px;
  align-items: center;
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__input {
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  border: 1px solid rgba(205, 205, 205, 0.5);
  padding: 13px;
  color: $text-color;
  margin-left: 13px;
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: none;
}

.form__input:hover {
  border: 1px solid rgba(205, 205, 205, 1);
}

.form__input:active {
  border: 1px solid #444444;
  outline: 1px solid #444444;
}

.form__input:focus {
  border: 1px solid #444444;
  outline: 1px solid #444444;
}

input:not(:placeholder-shown):invalid {
  border: 1px solid #ff8282;
  outline: 1px solid #ff8282;
}

.form__input--invalid:invalid {
  border: 1px solid #ff8282;
  outline: 1px solid #ff8282;
}

.form__fieldset--selection {
  padding-bottom: 8px;
}

.form__fieldset--selection > ul > li:nth-child(2) > input,
.form__fieldset--selection > ul > li:nth-child(3) > input {
  margin-left: 21px;
}

.form__fieldset--golas {
  border: 1px solid rgba(205, 205, 205, 0.5);
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 6px;
}

.form__label--radio {
  position: relative;
  display: flex;
  align-items: center;
}

.form__label--radio::before {
  content: "";
  display: block;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba(205, 205, 205, 0.5);
  transition: all 0.3s linear;
  background-clip: content-box;
  cursor: pointer;
  margin-right: 15px;
}

.form__radio:checked + .form__label--radio::before {
  padding: 8px;
  background-color: rgb(104, 183, 56);
}

.form__label--radio:active {
  opacity: 0.3;
}

.form__label--radio:hover::before {
  border: 1px solid rgba(205, 205, 205, 1);
}

.form__fieldset--contact {
  margin-top: 30px;
}

.form__legend {
  @include reset;
  font-size: 24px;
  line-height: 24px;
  color: $black-text;
  position: relative;
  display: inline-flex;
}

.form__legend--contact {
  max-width: 181px;
  padding-bottom: 35px;
}

.form__legend::after {
  content: "";
  position: absolute;
  top: 14px;
  left: calc(100% + 22px);
  width: 100vw;
  height: 3px;
  background-color: $text-green;
}

.form__fieldset--comment {
  margin-top: 15px;
  margin-bottom: 10px;
}

.form__comment {
  @include reset;
  width: 280px;
  min-height: 150px;
  margin-top: 35px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  resize: none;
  padding: 13px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: none;
}

.form__comment:focus {
  border: 1px solid #444444;
  outline: 1px solid #444444;
}

.form__list--additional {
  padding-top: 33px;
  padding-bottom: 25px;
}

.form__label--checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.form__label--checkbox::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(205, 205, 205, 0.5);
  transition: all 0.3s linear;
  background-clip: content-box;
  cursor: pointer;
  margin-right: 15px;
}

.form__label--checkbox::after {
  content: "";
  display: none;
  position: absolute;
  background: url("../img/icon-tick.svg") no-repeat;
  width: 21px;
  height: 16px;
  top: 7px;
  left: 5px;
}

.form__checkbox:checked + .form__label--checkbox::after {
  display: block;
}

.form__label--checkbox:active {
  opacity: 0.3;
}

.form__label--checkbox:hover::before {
  border: 1px solid rgba(205, 205, 205, 1);
}

.form__wrapper-button {
  margin-bottom: 25px;
}

.form__button {
  margin: auto;
  width: 280px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  background-color: $text-green;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 20px;
}

.form__button:hover {
  background-color: $text-green--hover;
}

.form__required {
  @include reset;
  font-family: $text-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form__icon {
  position: absolute;
}

.form__icon--mail {
  width: 17px;
  height: 13px;
  right: 15px;
  top: 17px;
}

.form__icon--phone {
  width: 20px;
  height: 20px;
  right: 12px;
  bottom: 25px;
}

.form__input:focus + .form__icon use {
  fill: $text-green;
}

@media (min-width: $tablet-width) {
  .form__main {
    @include tablet;
  }

  .form__header {
    font-size: 60px;
    line-height: 60px;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .form__description {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 60px;
    padding-left: 40px;
  }

  .form__form {
    padding-left: 40px;
    padding-right: 35px;
  }

  .form__item {
    padding-bottom: 10px;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__input {
    font-size: 20px;
    line-height: 20px;
    padding: 16px;
    margin-left: 13px;
    padding-left: 20px;
  }

  .form__fieldset--selection {
    padding-bottom: 40px;
  }

  .form__fieldset--golas {
    border: 1px solid rgba(205, 205, 205, 0.5);
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .form__label--radio::before {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    margin-right: 20px;
  }

  .form__radio:checked + .form__label--radio::before {
    padding: 9px;
  }

  .form__fieldset--contact {
    margin-top: 80px;
  }

  .form__legend {
    @include reset;
    font-size: 36px;
    line-height: 36px;
  }

  .form__legend--contact {
    max-width: 600px;
    padding-bottom: 70px;
  }

  .form__legend::after {
    top: 21px;
    left: calc(100% + 22px);
  }

  .form__legend::before {
    content: "";
    position: absolute;
    top: 21px;
    right: calc(100% + 41px);
    width: 100vw;
    height: 3px;
    background-color: $text-green;
  }

  .form__fieldset--comment {
    margin-top: 48px;
    margin-bottom: 0;
  }

  .form__comment {
    width: 631px;
    min-height: 174px;
    margin-top: 65px;
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
    margin-bottom: 70px;
  }

  .form__list--additional {
    padding-top: 53px;
    display: flex;
    flex-wrap: wrap;
    jusify-content: space-between;
    align-items: center;
  }

  .form__list--additional > li {
    width: 50%;
    padding-bottom: 30px;
  }

  .form__label--checkbox::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .form__label--checkbox::after {
    width: 21px;
    height: 16px;
    top: 12px;
    left: 10px;
  }

  .form__wrapper-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
    width: 495px;
  }

  .form__button {
    margin: 0;
    width: 283px;
    height: 52px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    background-color: $text-green;
  }

  .form__button:hover {
    background-color: $text-green--hover;
  }

  .form__required {
    font-size: 16px;
    line-height: 16px;
  }

  .form__icon--mail {
    right: 20px;
    top: 25px;
  }

  .form__icon--phone {
    right: 17px;
    bottom: 40px;
  }
}


@media (min-width: $desktop-width) {
  .form__main {
    @include desktop;
  }

  .form__header {
    font-size: 60px;
    line-height: 60px;
    padding-top: 70px;
    padding-bottom: 55px;
  }

  .form__description {
    padding-bottom: 66px;
    padding-left: 0;
  }

  .form__form {
    padding-left: 0;
    padding-right: 0;
  }

  .form__input {
    line-height: 20px;
    max-height: 52px;
  }

  .form__wrapper--fields {
    display: flex;
    justify-content: space-between;
  }

  .form__wrapper--fields > fieldset {
    margin: 0;
    width: 570px;
    max-height: 196px;
  }

  .form__fieldset--golas {
    padding-top: 24px;
    padding-bottom: 24px;
    height: auto;
    min-height: auto;
    padding-left: 30px;
  }

  .form__list--goals > li {
    padding-bottom: 13px;
  }

  .form__fieldset--contact {
    margin-top: 70px;
  }

  .form__legend {
    @include reset;
    font-size: 36px;
    line-height: 36px;
  }

  .form__legend--contact {
    padding-bottom: 71px;
  }

  .form__fieldset--contact > ul {
    display: flex;
    justify-content: space-between;
  }

  .form__fieldset--contact > ul > li {
    display: flex;
    flex-basis: 570px;
  }

  .form__legend::after {
    left: calc(100% + 45px);
  }

  .form__legend::before {
    right: calc(100% + 41px);
  }

  .form__fieldset--comment {
    margin-top: 50px;
  }

  .form__comment {
    width: 1220px;
    min-height: 174px;
    margin-top: 73px;
  }

  .form__list--additional {
    padding-top: 53px;
    padding-bottom: 30px;
  }

  .form__list--additional > li {
    width: 25%;
  }

  .form__wrapper-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    width: 790px;
  }

  .form__button {
    width: 568px;
  }

  .form__icon--mail {
    left: 533px;
    right: 0;
    top: 20px;
  }

  .form__icon--phone {
    right: 18px;
    top: 16px;
  }

  .form__item {
    padding-bottom: 20px;
  }
}
