body {
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $text-color;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
