body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 6px;
  line-height: 22px;
  font-weight: 400;
  color: $text-color;
  min-width: 320px;
  margin: 0;
}


a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
