.page-footer {
  padding-top: 35px;
  background-color: $text-gray;
}

.page-footer__logo-name {
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
  margin: 0;
  padding: 0;
  border-top: 1px solid $gray-line;
  border-bottom: 1px solid $gray-line;
}

.page-footer__item {
  min-width: 30px;
  margin: 0 13px;
  text-align: center;
}

.footer-copyright__link {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: $text-color;

  &:active {
    color: $text-green--hover;
  }

  &:hover {
    color:$text-green--hover;
  }
}
