.page-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  align-items: center;
  transition: all 0.3s linear;


  &__logo-pic {
    display: flex;
    align-items: center;
  }

  &__wrapper {

    display: flex;
    width: 100%;
    border-bottom: 1px solid $gray-line;
    min-height: 66px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__toggle {
    width: 24px;
    height: 18px;
    cursor: pointer;
    border: none;
    order: 2;
    background: url("../img/icon-mobile-menu.svg") no-repeat;
  }
}

.page-header__toggle--closed {
  display: block;
  width: 24px;
  height: 18px;
  background: url("../img/icon-close.svg") no-repeat;
}


@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    margin-top: 20px;
    max-width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    justify-content: space-between;
    min-width: 768px;


    &__logo-pic {
      display: flex;
      margin: auto;
    }

    &__wrapper {
      padding: 0;
      border: none;
      width: auto;
      height: auto;
    }

    &__toggle--closed {
      display: none;
    }

    &__toggle {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 53px;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    min-width: 1100px;

    &__logo-pic {
      padding-left: 40px;
      margin: 0;
    }
  }
}
