
.site-list {
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  margin: 0; /* new */
}

.site-list__item {
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  border-bottom: 1px solid $gray-line;
  min-height: 66px; /* new */
  align-items: center;
}

.site-list__link {
  color: $black-text;
  text-transform: uppercase;
  margin: auto;
  position: relative;
  font-family: $oswald-medium-font;

  &:hover:not(.site-list__link--index-active) {
    opacity: 0.5;
  }

  &:active:not(.site-list__link--index-active) {
    opacity: 0.3;
  }
}

@media (max-width: 767px) {
  .site-list {
    max-width: 320px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    border-bottom: none;
    min-height: auto;
    width: auto;
  }

  .site-list {
    width: 440px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .site-list__link--active::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $text-green;
    width: 100%;
    height: 2px;
    bottom: -10px;
  }

  .site-list__link {
    font-family: $oswald-font;
  }
}

@media (min-width: 1100px) {
  .site-list {
    width: 480px;
  }

  .site-list__link--index {
    color: #ffffff;

    &:hover:not(.site-list__link--index-active) {
      opacity: 0.5;
      color: #ffffff;
    }

    &:active:not(.site-list__link--index-active)   {
      opacity: 0.3;
      color: #ffffff;
    }
  }

  .site-list__link--index-active::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    bottom: -10px;
  }

  .site-list__item {
    font-size: 20px;
    line-height: 25px;
  }
}
