.adress {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__box {
    @include mobile;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 25px;
    align-items: center;
    margin: 0 auto;
  }

  &__dealers {
    @include reset;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $black-text;
    width: 140px;
  }

  &__details {
    @include reset;
    font-size: 14px;
    line-height: 20px;
    font-family: $text-font;
    width: 140px;
  }

  &__map {
    position: relative;
    max-height: 400px;
  }

  &__picture::before {
    content: "";
    width: 55px;
    height: 53px;
    background: url("../img/map-pin.png") no-repeat;
    position: absolute;
    z-index: 1;
    background-size: cover;
    top: 180px;
    left: 125px;
  }
}

@media (min-width: $tablet-width) {
  .adress {
    &__wrapper {
      margin: 0 auto;
    }

    &__box {
      @include tablet;
      padding-top: 85px;
      padding-bottom: 50px;
    }

    &__dealers {
      font-size: 20px;
      line-height: 25px;
      width: 200px;
      padding-left: 42px;
    }

    &__details {
      font-size: 16px;
      line-height: 20px;
      width: 200px;
      padding-right: 43px;
      text-align: right;
    }

    &__street {
      display: block;
      padding-bottom: 8px;
    }

    &__picture::before {
      width: 113px;
      height: 106px;
      top: 150px;
      left: 330px;
    }
  }
}

@media (min-width: $desktop-width) {
  .adress {
    display: flex;
    justify-content: center;

    &__wrapper {
      justify-content: center;
      align-items: flex-start;
    }

    &__box {
      @include reset;
      position: absolute;
      width: 570px;
      height: 201px;
      z-index: 2;
      background-color: #ffffff;
      margin-left: 110px;
    }

    &__dealers {
      width: 200px;
      padding-left: 76px;
    }

    &__details {
      width: 245px;
      padding-right: 43px;
      text-align: left;
      padding-top: 10px;
    }

    &__street {
      padding-bottom: 0;
    }

    &__picture::before {
      width: 113px;
      height: 106px;
      top: 37%;
      left: 69%;
    }
  }
}
