.main-intro {
  height: auto;
  margin-bottom: 22px;
  background: url("../img/index-background-mobile@1x.jpg") top no-repeat;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.3s ease-out;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background: url("../img/index-background-mobile@2x.jpg") top no-repeat;
    background-size: 320px auto;
  }
}

.main-intro__wrapper {
  display: flex;
  padding-top: 26px;
  flex-direction: column;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-intro__header,
.main-intro__motto {
  color: #ffffff;
  line-height: 1;
  text-align: center;
  margin: auto;
}

.main-intro__header {
  max-width: 303px;
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 27px;
}

.main-intro__motto {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
  padding: 0 0 25px 0;
}

.main-intro__product {
  margin: auto;
}

.main-intro__program-button {
  margin: auto;
  width: 280px;
  height: 40px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  background-color: $text-green;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding-top: 10px;
}

.main-intro__program-button:hover {
  background-color: $text-green--hover;
}


@media (min-width: $tablet-width) {
  .main-intro {
    background: none;
    padding-top: 55px;
  }

  .main-intro__wrapper {
    align-items: flex-start;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    padding-top: 0;
  }

  .main-intro__motto {
    color: $black-text;
    margin: 0;
    order: 2;
    font-size: 20px;
    padding: 0 0 45px 0;
    margin-left: 90px;
  }

  .main-intro__header {
    font-size: 60px;
    max-width: 487px;
    padding: 0 0 42px 0;
    color: $black-text;
    margin: 0;
    text-align: left;
    line-height: 60px;
    order: 1;
    margin-left: 90px;
  }

  .main-intro__program-button {
    margin: 0;
    order: 3;
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 50px;
    margin-left: 90px;
    padding-top: 0;
  }

  .main-intro__product {
    margin: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
  }

  .main-intro__product-img {
    width: 709px;
    height: 609px;
    position: absolute;
    top: 200px;
  }
}

@media (min-width: $desktop-width) {
  .main-intro {
    padding-top: 100px;
    position: relative;
  }

  .main-intro__wrapper {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .main-intro__product-img {
    width: 552px;
    height: 499px;
    z-index: 1;
    top: -75px;
    left: 450px;
    position: absolute;
  }

  .main-intro__header {
    margin-left: 80px;
    padding-bottom: 45px;
  }

  .main-intro__motto {
    margin-left: 80px;
    padding-bottom: 50px;
  }

  .main-intro__program-button {
    margin-left: 80px;
    line-height: 20px;
    padding-top: 15px;
  }

  .main-intro__wrapper::before {
    position: absolute;
    z-index: -1;
    top: -120px;
    width: 50%;
    height: 697px;
    background: url("../img/index-background-desktop@1x.jpg") right no-repeat;
    content: " ";
    background-color: #64a83b;
    left: 50%;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background: url("../img/index-background-desktop@2x.jpg") right no-repeat;
      background-size: 720px auto;
    }
  }
}
