.programs {
  @include mobile;
  position: relative;
  margin: 0 auto;
  list-style: none outside;
  transition: all 0.3s ease-out;
}

.programs__header--slim::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 49px;
  top: 18px;
  left: 30px;
  background: url("../img/icon-cat-slim.svg") center no-repeat;
}

.programs__header--pro::after {
  position: absolute;
  content: "";
  width: 75px;
  height: 28px;
  left: 10px;
  background: url("../img/icon-cat-pro.svg") center no-repeat;
  z-index: 10;
  bottom: 206px;
}

.programs__header {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1;
  padding: 12px 0 38px 71px;
  margin: 0;
  font-weight: 300;
  color: $black-text;
}

.programs__type {
  position: relative;
  padding: 20px 20px 20px;
  background-color: $text-gray;
}

.programs__description {
  @include reset();
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.3;
  font-family: "arial", "helvetica", sans-serif;
  color: $text-color;
}

.programs__link {
  color: $text-color;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 20px;
  border-top: 1px solid $gray-line;
  font-size: 16px;
  display: flex;

  &::after {
    content: "";
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    width: 24px;
    height: 11px;
    margin-left: 10px;
    display: block;
    margin-top: 6px;
  }

  &:hover,
  &:focus {
    &::after {
      width: 33px;
      background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.programs__header--pro::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 195px;
  left: 22px;
  border-radius: 50%;
  background-color: $text-green;
}

.programs__header--slim::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 22px;
  border-radius: 50%;
  background-color: $text-green;
}

.programs__type--slim {
  margin-bottom: 17.5px;
}

.programs__type--pro {
  margin-bottom: 17.5px;
}

@media (min-width: $tablet-width) {
  .programs {
    @include tablet;
    margin-top: 530px;
    margin-bottom: 30px;
  }

  .programs__type {
    min-height: 372px;
    padding-top: 76px;
    padding-bottom: 60px;
    padding-left: 53px;
  }

  .programs__header {
    margin: 0;
    font-size: 36px;
    padding: 0;
    padding-bottom: 27px;
  }

  .programs__description {
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    width: 340px;
    padding-bottom: 55px;
  }

  .programs__description--slim {
    width: 375px;
  }

  .programs__link {
    border-top: none;
    padding: 0;
    font-size: 20px;
  }

  .programs__link::after {
    margin-left: 25px;
  }

  .programs__header--pro::before {
    width: 200px;
    height: 200px;
    bottom: 190px;
    top: 92px;
    left: 446px;
    border-radius: 50%;
    background-color: $text-green;
  }

  .programs__header--slim::before {
    width: 200px;
    height: 200px;
    bottom: 190px;
    top: 92px;
    left: 446px;
    border-radius: 50%;
    background-color: $text-green;
  }

  .programs__header--slim::after {
    width: 140px;
    height: 194px;
    top: 82px;
    left: 475px;
    background: url("../img/icon-cat-slim.svg") center no-repeat;
  }

  .programs__header--pro::after {
    position: absolute;
    content: "";
    width: 268px;
    height: 112px;
    top: 134px;
    left: 412px;
    background: url("../img/icon-cat-pro.svg") center no-repeat;
  }

  .programs__type--slim {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    @include desktop;
    margin-top: 268px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
    flex-wrap: wrap;
  }

  .programs__type {
    padding: 42px 55px 24px 55px;
    min-height: 372px;
    width: 570px;
  }

  .programs__header {
    margin: 0;
    font-size: 36px;
    padding-bottom: 82px;
    padding-left: 160px;
    line-height: 24px;
    padding-top: 43px;
  }

  .programs__description {
    padding-bottom: 30px;
    width: 465px;
  }

  .programs__header--pro::before,
  .programs__header--slim::before {
    top: 47px;
    left: 50px;
    width: 100px;
    height: 100px;
  }


  .programs__header--slim::after {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 66px;
  }

  .programs__header--pro::after {
    width: 134px;
    height: 65px;
    top: 69px;
    left: 34px;
  }

  .programs__type--slim {
    margin-bottom: 17.5px;
  }
}
